body {
    background-color: #FFFFFF;
    color: black;
    font-size: 14px;
    font-family: "Lucida Grande", Verdana,Arial, Helvetica, sans-serif;
}

h2.subtitle {
    margin: -0.5em 0 1em 0;
    font-style: italic;
}

#generated_bird {
    font-size: 18px;
    font-weight: bold;
    padding-left: 1.5em;
}

.credit {
    font-size: 10px;
    margin-top: 2em;
}
