<ul class="main-navigation">
{% if page.title != 'Projects' and page.title != 'About me' %} <div class="selected"> {% else %} <div> {% endif %}
  <li><a href="{{ root_url }}/">blog</a></li></div>
  <div class="spacer"></div>

{% if page.title == 'Projects'%} <div class="selected"> {% else %} <div> {% endif %}
  <li><a href="{{ root_url }}/projects">projects</a></li></div>
  <div class="spacer"></div>

{% if page.title == 'About me'%} <div class="selected"> {% else %} <div> {% endif %}
  <li><a href="{{ root_url }}/about">about</a></li></div>
</ul>
